<%= form_for(@customer_information) do |f| %>
  <% if @customer_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_information.errors.count, "error") %> prohibited this customer_information from being saved:</h2>

      <ul>
      <% @customer_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Customer_id %><br>
    <%= f.text_field :Customer_id %>
  </div>
  <div class="field">
    <%= f.label :Date_Joined %><br>
    <%= f.text_field :Date_Joined %>
  </div>
  <div class="field">
    <%= f.label :Email_Address %><br>
    <%= f.text_field :Email_Address %>
  </div>
  <div class="field">
    <%= f.label :Outstanding_Charges %><br>
    <%= f.text_field :Outstanding_Charges %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
